header {
    margin: 30px 0px 30px 0px;
}

.top-logo {
    font-size: 32px;
    color: #444;
}

.top-menu {
    margin: 10px 0px 0px 0px;
}

.top-menu li {
    float: left;
    display: inline;
    margin: 0px 45px 0px 0px;
}

.top-menu li a {
    color: #85828a; 
    font-size: 16px;
}

.top-menu li a:hover {
    color: #444;
}

header .fa-user-circle {
    font-size: 27px;
    color: #444;
    float: left;
    padding-right: 7px;
    cursor: pointer;
}

header .user {
    margin: 8px 0px 0px 0px;
    color: #444;
    font-size: 13px;
    cursor: pointer;
}

.wr-bread-crumbs {
    margin: 20px 0px 0px 4.4%;
}

.bread-crumbs-link {
    color: #a1a1a1;
}

.bread-crumbs-link:hover {
    color: #a1a1a1;
    text-decoration: none;
}

.bread-crumbs-link-active {
    color: #797676;
}

.bread-crumbs-link-active:hover {
    color: #000;
}

.bread-crumbs-separator {
    margin: 0px 5px 0px 5px;
}
