.header-left {
    /*border: solid #000 1px;*/
    width: 7%;
    float: left;
    padding-top: 25px;
}

.header-right {
    width: 92%;
    /*border: solid #0a678b 1px;*/
    float: left;
    padding-top: 25px;
}

.display-block {
    display: block;
}

.left-icon {
    position: absolute;
}

.line-1, .line-2, .line-3, .line-4 {
    height: 1px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #cacaca;
}

.line-1 {
    width: 30%;
}

.line-2 {
    width: 40%;
    background-color: #878787;
}

.line-3 {
    width: 25%;
}

.line-4 {
    width: 30%;
}

.head-menu {
    display: inline-block;
}

.head-menu li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    list-style: none;
}

.head-menu li a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.first-screen-title {
    font-size: 50px;
    color: #a8a8a8;
    margin-top: 20%;
    margin-left: 20%;
}

.float-right {
    float: right;
}

.first-screen-select {
    float: left;
    width: 240px;
    text-align: left;
    padding-left: 40px;
}

.first-screen-select .top {
    font-size: 21px;
}

.first-screen-select .bottom {
    margin-top: -10px;
}

footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #4f4f4f;
    color: #fff;
}


footer .title {
    font-weight: bold;
    font-size: 17px;
}

footer ul {
    margin-left: -40px;
    list-style: none;
}

footer .mar-top-title {
    margin-top: 50px;
}

.first-screen {
    background: url(gory-sneg-oblaka-cherno-belaya.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wr-first-screen-select {
    background: #fff;
    right: -16px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 10px;
}

.wr-seasons {
    padding-top: 150px;
    padding-bottom: 150px;              
}

.wr-seasons p {
    font-size: 95px;  
}

.wr-seasons ul {
    font-size: 18px;
    list-style: none;
    margin-left: -40px;
}

.wr-seasons ul li {
    margin: 0px 0px 12px 0px;
}

.wr-seasons ul li a {
    color: #000;
}

.wr-seasons-right {
    margin-left: 6%;
}

.wr-routes {
    padding-top: 150px;
    padding-bottom: 150px;              
}

.wr-routes .title {
    font-size: 47px;            
}

.wr-routes .info {
    font-size: 16px;            
}

.icon-cube {
    height: 18px;
    width: 18px;
    background: #75727a;
    float: left;
    margin: 0px 10px 0px 0px; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);    
}

.wr-routes botton {
    border: solid 1px #75727a;
    background: #75727a;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 40px 0px 0px 0px;   
    cursor: pointer;
}        

.wr-routes botton:hover {
    background: #fff;
    color: #75727a;    
}

.wr-routes ul {
    margin: 70px 0px 0px 0px;
    margin-left: -40px;
}

.wr-routes li {
    float: left;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 70px 0px 0px;
}        

.wr-routes li a {
    color: #000;
    text-decoration: underline;
    font-size: 16px;
}

.wr-trails {
    padding-top: 150px;
    padding-bottom: 150px;            
}

.wr-trails .title {
    font-size: 47px;
}

.wr-trails .info {
    font-size: 16px;
}

.wr-trails botton {
    border: solid 3px #000;
    background: #000;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;              
}        

.wr-tracking {
    padding-top: 150px;
    padding-bottom: 150px;            
}

.wr-tracking .wr-meaning-info .meaning {
    font-size: 54px;
}

.wr-tracking .wr-meaning-info .info {
    margin-top: -25px;
}        

.wr-meaning-info {
    margin-top: 20px;
}

.wr-tracking .title {
    font-size: 47px;
}

.wr-tracking .info {
    font-size: 16px;
}

.wr-tracking botton {
    border: solid 3px #000;
    background: #000;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;              
}

.wr-mountaineering {
    padding-top: 150px;
    padding-bottom: 150px;              
}

.wr-mountaineering .title {
    font-size: 47px;
}

.wr-mountaineering .info {
    font-size: 16px;
}  

.wr-mountaineering botton {
    border: solid 3px #000;
    background: #000;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;  
}

.wr-teberdinsky-nature-reserve {
    padding-top: 150px;
    padding-bottom: 150px;            
}

.wr-teberdinsky-nature-reserve .wr-meaning-info .meaning {
    font-size: 54px;
}

.wr-teberdinsky-nature-reserve .wr-meaning-info .info {
    margin-top: -25px;
}        

.wr-meaning-info {
    margin-top: 20px;
}

.wr-teberdinsky-nature-reserve .title {
    font-size: 47px;
}

.wr-teberdinsky-nature-reserve .info {
    font-size: 16px;
}

.wr-teberdinsky-nature-reserve botton {
    border: solid 3px #000;
    background: #000;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;              
}

.wr-safety-mountains {
    padding-top: 150px;
    padding-bottom: 150px;
}

.wr-safety-mountains .info {
    font-size: 16px;
}

.wr-safety-mountains .title {
    font-size: 47px;
}

.wr-safety-mountains botton {
    border: solid 3px #000;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;            
}

@media(max-width:480px) {
    .wr-seasons p {
        font-size: 70px;
    }

    .wr-routes .title {
        font-size: 28px;
    }            

    .wr-trails .title {
        font-size: 28px;
    }            

    .wr-tracking .title {
        font-size: 28px;
    }

    .wr-mountaineering .title {
        font-size: 28px;
    }

    .wr-teberdinsky-nature-reserve .title {
        font-size: 28px;
    }

    .wr-safety-mountains .title {
        font-size: 28px;
    }
}








































